
.footer {
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    padding: 60px 20px;
}

.footer-column {
    flex-basis: 23%;
    margin-bottom: 20px;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.footer-column p,
.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    /* color: #ecf0f1; */
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img{
    width: 30px;
    height: 30px;
}

.social-icons li {
    list-style: none;
}

/* .social-icons li a {
    color: #ecf0f1;
    font-size: 20px;
    transition: color 0.3s;
} */

/* .social-icons li a:hover {
    color: #3498db;
} */

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #000;
    border-top: 1px solid #fff;
    max-width: 90%;
    margin: 0 auto;
}

.footer-bottom li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

@media(max-width: 650px){
    .footer-container{
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom{
        flex-direction: column;
    }

    .footer-bottom li{
        
        margin: 0px;
        padding: 5px;
    }

}
